@import "bootstrap.min.css";
.index {
	background-color: #fff;
	.header {
		padding: 50px 0;
		background: #ccc;
		h1 {
			color: #fff;
			text-transform: capitalize;
		}
	}
    //end index
}



.gallery{

	.col-lg-3.col-md-4.col-6{

			&:hover{
				-ms-transform: translate(100px); /* IE 9 */
				-webkit-transform: translate(100px); /* Safari */
				transform: translate(100px); /* Change Offset */
				z-index:2; /* you can change it, but better let this in default */
			}

			img:hover
			{
				transition:all 0.6s; /* Change Speed */
				-ms-transform: scale(2, 2); /* IE 9 */
				-webkit-transform: scale(2, 2); /* Safari */
				transform: scale(2, 2); /* Change Size */
				overflow:visible;
				z-index:1 !important; /* you can change it, but better let this in default */
			}
			

	}

}


