@import url(bootstrap.min.css);.index{background-color:#fff}.index .header{padding:50px 0;background:#ccc}.index .header h1{color:#fff;text-transform:capitalize}.gallery .col-lg-3.col-md-4.col-6:hover{-ms-transform:translate(100px);-webkit-transform:translate(100px);transform:translate(100px);z-index:2}.gallery .col-lg-3.col-md-4.col-6 img:hover{transition:all 0.6s;-ms-transform:scale(2, 2);-webkit-transform:scale(2, 2);transform:scale(2, 2);overflow:visible;z-index:1 !important}
